@{
    ViewBag.Title = "About";
    ViewBag.Message = "E-COMMERCE AND INTERNET SERVICES DEVELOPMENT";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>Library.com the company's e-commerce website, was successfully launched in 1998. Like our stores, the site is open, inviting and focused on the product.</p><p> Since the site's launch, we have continued to enhance its design, product offerings, editorial content and customer service attributes, as well as maintain our position as a value leader in book e-tailing.Through our American Internet Services division, we continue to develop a suite of e-commerce solutions aimed to meet the needs of a variety of business clients.</p>The acquisition of NetCentral continues to provide us with the development experience and systems resources needed to continue to innovate and compete effectively in the e-commerce arena.</p>
