@{
    ViewBag.Title = "Contact";

}
<h2>@ViewBag.Title</h2>



<address>
    Plovdiv city Zagore 15 str.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">fania.karamfilova@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">fania.karamfilova@abv.bg</a>
</address>