@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>This is newly opened site for books and magazines</p>
    <p>If you have any problems or questions you can write us down using the <a href="/Home/Contact"</a>contact form.</p>

